
Crome Rising/Temp/UnityLockfile
Crome Rising/Temp/UnityTempFile-a459585671623af40a5c41d4a3641947
Crome Rising/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Crome Rising/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Crome Rising/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Crome Rising/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Crome Rising/Library/metadata/f3/f39206b0969cdc44a85fe0eddaa01e94.info
Crome Rising/Library/metadata/01/0100bc404157dd64fb5a81e87c603e49.info
Crome Rising/Assets/Prefab.meta
Crome Rising/Assets/Prefab/Testing.meta
Crome Rising/Assets/Scripts/Character.meta
Crome Rising/Library/assetDatabase3
Crome Rising/Library/assetDatabase3
Crome Rising/Library/assetDatabase3
Crome Rising/Library/EditorInstance.json
Crome Rising/Library/metadata/1c/1ce314127e8ddcb439728c824e13d83b
Crome Rising/Library/metadata/01/0100bc404157dd64fb5a81e87c603e49
Crome Rising/Library/metadata/8e/8e274dc0aa5731141ad6ce9392f0075d
Crome Rising/Library/metadata/1c/1ce314127e8ddcb439728c824e13d83b
Crome Rising/Library/metadata/8e/8e274dc0aa5731141ad6ce9392f0075d.info
Crome Rising/Library/metadata/d5/d59acccc2ac41d540b02c0739c6ed3a8
Crome Rising/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Crome Rising/Library/metadata/f3/f39206b0969cdc44a85fe0eddaa01e94
Crome Rising/Library/assetDatabase3
Crome Rising/Library/metadata/1c/1ce314127e8ddcb439728c824e13d83b
Crome Rising/Library/metadata/d5/d59acccc2ac41d540b02c0739c6ed3a8
Crome Rising/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Crome Rising/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Crome Rising/Library/assetDatabase3
Crome Rising/Library/CrashedAssetImports.txt
Crome Rising/Library/shadercompiler-UnityShaderCompiler.exe0.log
